.inner {
  margin: 0 auto;
  width: 80%;
}

.status {
  h1 {
    font-family: Helevtica, sans-serif;
    text-transform: uppercase;
    font-size: 9em;
    text-align: center;
  }
}

.about {
  width: 100%;
  text-align: center;

  .bocc_link {
    font-size: 1.5em;
  }
  .small {
    font-size: .8em;
  }
}
