!!!
%html
  %head
    %title is it bocc tomorrow
    %link{:href => "/css/main.css", :rel => "stylesheet"}
  %body
    .inner
      .status
        %h1= @is_bocc_tomorrow
      .about
        %p
          %a{:href => 'http://boulderopencoffeeclub.com'} http://boulderopencoffeeclub.com
