!!!
%html
  %head
    %title is it bocc tomorrow?
    %link{:href => "/css/main.css", :rel => "stylesheet"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22550563-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .status
      %h1{:class => @is_bocc_tomorrow}= @is_bocc_tomorrow
      %p.info Last #BOCC was #{@last_bocc}
      %p.info Next #BOCC is #{@next_bocc} (in #{@days_till_next_bocc})
      %p.bocc_link
        %a{:href => 'http://boulderopencoffeeclub.com'} boulderopencoffeeclub.com
    .about
      %p.small
        status is computed, might be wrong, check official link
      %p.small
        made by
        %a{:href => 'http://eoinisawesome.com'} eoin
        |
        %a{:href => 'http://github.com/ecoffey/isitbocctomorrow'} code
