body {
  font-family: Helevtica, sans-serif;
  text-align: center;
}

.status {
  margin-bottom: 4em;
}

.status h1 {
  text-transform: uppercase;
  font-size: 9em;
  text-align: center;
  margin: 0 auto;
}

.status .bocc_link {
  font-size: 1.5em;
}

.about {
  clear: both;
  width: 100%;
}

.about .small {
  font-size: .8em;
}
